@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.move-left-to-right {
  animation: moveLeftToRight 10s linear infinite;
}

.move-right-to-left {
  animation: moveRightToLeft 10s linear infinite;
}
