@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.move-left-to-right {
  animation: moveLeftToRight 10s linear infinite;
}

.move-right-to-left {
  animation: moveRightToLeft 10s linear infinite;
}


@keyframes infiniteLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes infiniteRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.infinite-left-to-right {
  animation: infiniteLeftToRight 20s linear infinite;
}

.infinite-right-to-left {
  animation: infiniteRightToLeft 20s linear infinite;
}
